{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/category.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/parties">Retour</a>

    <div class="block-header">
      <div class="login px-2">
        {% if login is defined %}{{login|capitalize}}{% endif %}
      </div>
      <div class="container-i profile px-3"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <div class="block-category">
      {% for element in categories %}
        <div class="category"><div onclick="chooseCategory({{game}},{{round.round_id}},{{element.category_id}})" class="category-label">{{element.category_label}}</div></div>
      {% endfor %}
    </div>

    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src= "/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>

  <script type="text/javascript">

    function chooseCategory(game, round, category){
      socket.emit('choose-category', { game:game, round:round, category: category });
    }

    socket.on('redirect', function (data) {
      window.location.href = data;
    });
  </script>
{% endblock %}
