{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/category.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/parties">Retour</a>

    <div class="block-header">
      <div class="login px-2">
        {% if login is defined %}{{login|capitalize}}{% endif %}
      </div>
      <div class="container-i profile px-3"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <div class="block-category">
      <div class="category"><div class="category-label">{{categories[0].category_label}}</div></div>
      <div class="category"><div class="category-label">{{categories[1].category_label}}</div></div>
      <div class="category"><div class="category-label">{{categories[2].category_label}}</div></div>
      <div class="category"><div class="category-label">{{categories[3].category_label}}</div></div>
    </div>

    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src= "/vendors/socket.io/socket.io.js"></script>
  <script src= "/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>
{% endblock %}
