{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/game.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/parties">Retour</a>

    <div class="block-header">
      <div class="login px-2">
        {% if login is defined %}{{login|capitalize}}{% endif %}
      </div>
      <div class="container-i profile px-3"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <div class="block-main" id="question1">
      <div class="block-question">
        <div class="question">{{question[0].question_label}}</div>
      </div>
      <div class="block-answer">
        <div class="answer">{{answer[0].answer_label}}</div>
        <div class="answer">{{answer[1].answer_label}}</div>
        <div class="answer">{{answer[2].answer_label}}</div>
        <div class="answer">{{answer[3].answer_label}}</div>
      </div>
    </div>

    <div class="block-main" id="question2">
      <div class="block-question">
        <div class="question">{{question[1].question_label}}</div>
      </div>
      <div class="block-answer">
        <div class="answer">{{answer[4].answer_label}}</div>
        <div class="answer">{{answer[5].answer_label}}</div>
        <div class="answer">{{answer[6].answer_label}}</div>
        <div class="answer">{{answer[7].answer_label}}</div>
      </div>
    </div>

    <div class="block-main" id="question3">
      <div class="block-question">
        <div class="question">{{question[2].question_label}}</div>
      </div>
      <div class="block-answer">
        <div class="answer">{{answer[8].answer_label}}</div>
        <div class="answer">{{answer[9].answer_label}}</div>
        <div class="answer">{{answer[10].answer_label}}</div>
        <div class="answer">{{answer[11].answer_label}}</div>
      </div>
    </div>

    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src= "/vendors/socket.io/socket.io.js"></script>
  <script src= "/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>

  <script type="text/javascript">

    setTimeout(function(){
      document.getElementById("question1").style.display = "none";
      document.getElementById("question2").style.display = "block"
    }, 30000);
    setTimeout(function(){
      document.getElementById("question2").style.display = "none";
      document.getElementById("question3").style.display = "block"
    }, 60000);

  </script>
{% endblock %}
