{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/game.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/parties">Retour</a>

    <div class="block-header">
      <div class="login px-2">
        {% if login is defined %}{{login|capitalize}}{% endif %}
      </div>
      <div class="container-i profile px-3"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>

    {% set random1 = random(['0123','0132','0213','0231','0312','0321','1023','1032','1203','1230','1302','1320','2031','2013','2103','2130','2301','2310','3012','3021','3102','3120','3201','3210']) %}
    {% set random2 = random(['4567','4576','4657','4675','4756','4765','5467','5476','5647','5674','5746','5764','6475','6457','6547','6574','6745','6754','7456','7465','7546','7564','7645','7654']) %}
    {% set random3 = random(['10111213','10111312','10121113','10121311','10131112','10131211','11101213','11101312','11121013','11121310','11131012','11131210','12101311','12101113','12111013','12111310','12131011','12131110','13101112','13101211','13111012','13111210','13121011','13121110']) %}

    <div class="block-main" id="question1">
      <div class="block-question">
        <div class="question">{{question[0].question_label}}</div>
      </div>
      <div class="block-answer">
        <div class="answer" onclick="verifAnswer(1, 2, 0, {{random1|slice(0, 1)}}, 0)">{{answer[random1|slice(0, 1)].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(1, 2, 0, {{random1|slice(1, 1)}}, 1)">{{answer[random1|slice(1, 1)].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(1, 2, 0, {{random1|slice(2, 1)}}, 2)">{{answer[random1|slice(2, 1)].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(1, 2, 0, {{random1|slice(3, 1)}}, 3)">{{answer[random1|slice(3, 1)].answer_label}}</div>
      </div>
    </div>

    <div class="block-main" id="question2">
      <div class="block-question">
        <div class="question">{{question[1].question_label}}</div>
      </div>
      <div class="block-answer">
        <div class="answer" onclick="verifAnswer(2, 3, 1, {{random2|slice(0, 1)}}, 4)">{{answer[random2|slice(0, 1)].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(2, 3, 1, {{random2|slice(1, 1)}}, 5)">{{answer[random2|slice(1, 1)].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(2, 3, 1, {{random2|slice(2, 1)}}, 6)">{{answer[random2|slice(2, 1)].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(2, 3, 1, {{random2|slice(3, 1)}}, 7)">{{answer[random2|slice(3, 1)].answer_label}}</div>
      </div>
    </div>

    <div class="block-main" id="question3">
      <div class="block-question">
        <div class="question">{{question[2].question_label}}</div>
      </div>
      <div class="block-answer">
        <div class="answer" onclick="verifAnswer(3, 3, 2, {{(random3|slice(0, 2))-2}}, 8)">{{answer[(random3|slice(0, 2))-2].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(3, 3, 2, {{(random3|slice(2, 2))-2}}, 9)">{{answer[(random3|slice(2, 2))-2].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(3, 3, 2, {{(random3|slice(4, 2))-2}}, 10)">{{answer[(random3|slice(4, 2))-2].answer_label}}</div>
        <div class="answer" onclick="verifAnswer(3, 3, 2, {{(random3|slice(6, 2))-2}}, 11)">{{answer[(random3|slice(6, 2))-2].answer_label}}</div>
      </div>
    </div>

    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src= "/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>
  <script type="text/javascript">
    var answer = [[],[],[],[],[],[],[],[],[],[],[],[]];

    answer[0][0] = {{ answer[0].answer_id }};
    answer[0][1] = {{ answer[0].answer_question }};
    answer[0][2] = "{{ answer[0].answer_label }}";
    answer[0][3] = "{{ answer[0].answer_image }}";
    answer[0][4] = {{ answer[0].answer_status }};


    answer[1][0] = {{ answer[1].answer_id }};
    answer[1][1] = {{ answer[1].answer_question }};
    answer[1][2] = "{{ answer[1].answer_label }}";
    answer[1][3] = "{{ answer[1].answer_image }}";
    answer[1][4] = {{ answer[1].answer_status }};

    answer[2][0] = {{ answer[2].answer_id }};
    answer[2][1] = {{ answer[2].answer_question }};
    answer[2][2] = "{{ answer[2].answer_label }}";
    answer[2][3] = "{{ answer[2].answer_image }}";
    answer[2][4] = {{ answer[2].answer_status }};

    answer[3][0] = {{ answer[3].answer_id }};
    answer[3][1] = {{ answer[3].answer_question }};
    answer[3][2] = "{{ answer[3].answer_label }}";
    answer[3][3] = "{{ answer[3].answer_image }}";
    answer[3][4] = {{ answer[3].answer_status }};

    answer[4][0] = {{ answer[4].answer_id }};
    answer[4][1] = {{ answer[4].answer_question }};
    answer[4][2] = "{{ answer[4].answer_label }}";
    answer[4][3] = "{{ answer[4].answer_image }}";
    answer[4][4] = {{ answer[4].answer_status }};

    answer[5][0] = {{ answer[5].answer_id }};
    answer[5][1] = {{ answer[5].answer_question }};
    answer[5][2] = "{{ answer[5].answer_label }}";
    answer[5][3] = "{{ answer[5].answer_image }}";
    answer[5][4] = {{ answer[5].answer_status }};

    answer[6][0] = {{ answer[6].answer_id }};
    answer[6][1] = {{ answer[6].answer_question }};
    answer[6][2] = "{{ answer[6].answer_label }}";
    answer[6][3] = "{{ answer[6].answer_image }}";
    answer[6][4] = {{ answer[6].answer_status }};

    answer[7][0] = {{ answer[7].answer_id }};
    answer[7][1] = {{ answer[7].answer_question }};
    answer[7][2] = "{{ answer[7].answer_label }}";
    answer[7][3] = "{{ answer[7].answer_image }}";
    answer[7][4] = {{ answer[7].answer_status }};

    answer[8][0] = {{ answer[8].answer_id }};
    answer[8][1] = {{ answer[8].answer_question }};
    answer[8][2] = "{{ answer[8].answer_label }}";
    answer[8][3] = "{{ answer[8].answer_image }}";
    answer[8][4] = {{ answer[8].answer_status }};

    answer[9][0] = {{ answer[9].answer_id }};
    answer[9][1] = {{ answer[9].answer_question }};
    answer[9][2] = "{{ answer[9].answer_label }}";
    answer[9][3] = "{{ answer[9].answer_image }}";
    answer[9][4] = {{ answer[9].answer_status }};

    answer[10][0] = {{ answer[10].answer_id }};
    answer[10][1] = {{ answer[10].answer_question }};
    answer[10][2] = "{{ answer[10].answer_label }}";
    answer[10][3] = "{{ answer[10].answer_image }}";
    answer[10][4] = {{ answer[10].answer_status }};

    answer[11][0] = {{ answer[11].answer_id }};
    answer[11][1] = {{ answer[11].answer_question }};
    answer[11][2] = "{{ answer[11].answer_label }}";
    answer[11][3] = "{{ answer[11].answer_image }}";
    answer[11][4] = {{ answer[11].answer_status }};
  </script>
  <script type="text/javascript">

    /* Initialisation des variables pour les résultats */
    var lock = false;
    var tabResult = [];
    var compteur = 0;

    /* Initialisation pour stopper le setTimeout */
    var stop = 0;

    /* Lancement de la progress bar */
    var current_progress = 0;
    var interval = setInterval(function() {
        current_progress += 0.2;
        $(".progress-bar")
        .css("width", current_progress + "%")
        if (current_progress >= 100)
            clearInterval(interval);
    }, 40);

    /* Fonctions timers pour changer de question et reset les timers */
    function timer1(){
      stop = setTimeout(function(){
        tabResult[compteur] = 14;
        compteur++;

        document.getElementById('question1').style.display = "none";
        document.getElementById('question2').style.display = "block";
        timer2();

        clearInterval(interval);

        $(".progress-bar")
        .css("width", 0 + "%");

        interval = 0;

        current_progress = 0;
        interval = setInterval(function() {
          current_progress += 0.2;
          $(".progress-bar")
          .css("width", current_progress + "%")
          if (current_progress >= 100)
              clearInterval(interval);
        }, 40);
      }, 20000);
    }
    function timer2(){
      stop = setTimeout(function(){
        tabResult[compteur] = 14;
        compteur++;

        document.getElementById('question2').style.display = "none";
        document.getElementById('question3').style.display = "block";
        timer3();

        clearInterval(interval);

        $(".progress-bar")
        .css("width", 0 + "%");

        interval = 0;

        current_progress = 0;
        interval = setInterval(function() {
          current_progress += 0.2;
          $(".progress-bar")
          .css("width", current_progress + "%")
          if (current_progress >= 100)
              clearInterval(interval);
        }, 40);
      }, 20000);
    }
    function timer3(){
      stop = setTimeout(function(){
        if (compteur == 2) {
          tabResult[compteur] = 14;
          socket.emit('player-answer', { answer:tabResult, id:{{id}}, round:{{round}}, game:{{game}} });
          window.location.href = "../../";
        }
      }, 20000);
    }

    function verifAnswer(none, block, timer, select, swap){

      if (answer[select][4] == 7 && lock == false) {
        document.getElementsByClassName("answer")[swap].style.backgroundColor = "green";
        tabResult[compteur] = 7;
        lock = true;
      } else if (lock == false) {
        document.getElementsByClassName("answer")[swap].style.backgroundColor = "red";
        tabResult[compteur] = 8;
        lock = true;
      }

      clearInterval(stop);
      clearInterval(interval);

      setTimeout(function(){
        $(".progress-bar")
        .css("width", 0 + "%");
        interval = 0;

        document.getElementById('question'+none).style.display = "none";
        document.getElementById('question'+block).style.display = "block";

        current_progress = 0;
        interval = setInterval(function() {
          current_progress += 0.2;
          $(".progress-bar")
          .css("width", current_progress + "%")
          if (current_progress >= 100)
          clearInterval(interval);
        }, 40);

        compteur++;
        lock = false;
      }, 2000);

      if (compteur == 2) {
        socket.emit('player-answer', { answer:tabResult, id:{{id}}, round:{{round}}, game:{{game}} });
        window.location.href = "../../";
      }

      if (timer == 0) {
        timer2();
      } else {
        timer3();
      }
    }

    timer1();

  </script>
{% endblock %}


















<!---->
