{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/modify-profile.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
  <style>
    .block-main .background {
      background-image: url('../image/banner/{{login}}_banner.jpg');
    }
    .block-main .block-header .profile-picture {
      background-image: url('../image/profile/{{login}}_profile.jpg');
    }
  </style>
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <div class="block-header background">
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
      <div class="profile-picture"></div>
      <div class="modify-banner-picture" id="bannerBackground">Modifier la photo de couverture</div>
      <div class="modify-profile-picture" id="profileBackground">Modifier la photo de profil</div>
    </div>

    <div class="block-body">

      <div class="block-input hide">
        <form action="./upload/banner" method="post" enctype="multipart/form-data">
          <input type="file" id="bannerInput" name="bannerInput"/>
          <button type="submit" name="button" id="validateUploadBanner"></button>
        </form>
        <form action="./upload/profile" method="post" enctype="multipart/form-data">
          <input type="file" id="profileInput" name="profileInput"/>
          <button type="submit" name="button" id="validateUploadProfile"></button>
        </form>
      </div>

      <div class="block-menu">
        <a style="color:white;position:absolute" href="/profile">Retour</a>
      </div>

      <div class="block-info row">
        <div class="col-6">
          <form class="modify-form" action="verif_modif_profile" method="post">
            <div class="form-group" >
              <label for="login" class="col-sm-12 col-form-label">Login</label>
              <div class="col-sm-10">
                {% if modif_login is defined %}
                  <input type="text" class="form-control" name="login" value="{{modif_login}}">
                {% else %}
                  <input type="text" class="form-control" name="login" value="{{login}}">
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label for="newPassword" class="col-sm-12 col-form-label">Nouveau mot de passe</label>
              <div class="col-sm-10">
                {% if modif_password is defined %}
                  <input type="password" class="form-control" name="newPassword" placeholder="Champ non obligatoire" value="{{modif_password}}">
                {% else %}
                  <input type="password" class="form-control" name="newPassword" placeholder="Champ non obligatoire">
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label for="newPassword" class="col-sm-12 col-form-label">Confirmation</label>
              <div class="col-sm-10">
                {% if modif_confpassword is defined %}
                  <input type="password" class="form-control" name="confNewPassword" placeholder="Champ non obligatoire" value="{{modif_confpassword}}">
                {% else %}
                  <input type="password" class="form-control" name="confNewPassword" placeholder="Champ non obligatoire">
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label for="oldPassword" class="col-sm-12 col-form-label">Ancien mot de passe</label>
              <div class="col-sm-10">
                {% if modif_oldpassword is defined %}
                  <input type="password" class="form-control" name="oldPassword" value="{{modif_oldpassword}}">
                {% else %}
                  <input type="password" class="form-control" name="oldPassword">
                {% endif %}
              </div>
            </div>
            <div class="text-center col-sm-10">
              <button type="submit" class="btn btn-success mb-2">Valider</button>
            </div>
          </form>
        </div>
        <div class="block-reset col-6">

          {% if modif_error is defined %}
            <div class="block-response">
              <div class="alert alert-danger" role="alert">{{modif_error}}</div>
            </div>
          {% elseif modif_validate is defined %}
            <div class="block-response">
              <div class="alert alert-success" role="alert">{{modif_validate}}</div>
            </div>
          {% endif %}

          <div class="reset-password">
            <button class="send-btn btn-reverse btn-arrow">
              <span>Mot de passe oublié
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve">
                  <g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line>
                    <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7"></polyline>
                  </g>
                </svg>
              <span>
            </button>
          </div>
        </div>
      </div>
    </div>


    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src="/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>
  <script charset="utf-8">

    $('#bannerBackground').click(function() {
      $('#bannerInput').click();
    });

    $('#profileBackground').click(function() {
      $('#profileInput').click();
    });

    $('#bannerInput').bind('input', function() {
      $('#validateUploadBanner').trigger('click');
    });

    $('#profileInput').bind('input', function() {
      $('#validateUploadProfile').trigger('click');
    });

    $(".modify-profile-picture").on({
      mouseenter: function () {
        $(".modify-banner-picture").css("opacity", "0");
      },
      mouseleave: function () {
        $(".modify-banner-picture").css("opacity", "1");
      }
    });

  </script>
{% endblock %}
