{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/partie.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <a style="color:white;position:absolute" href="/parties">Retour</a>

    <div class="block-header">
      <div class="login px-2">
        {% if login is defined %}{{login|capitalize}}{% endif %}
      </div>
      <div class="container-i profile px-3"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
    </div>

    <div class="block-partie">
      <div class="player player-one">{{game.player_1.user_login|capitalize}}</div>
      <div class="score score-one">{{game.game_p1_score|upper}}</div>
      <div class="dash">-</div>
      <div class="score score-two">{{game.game_p2_score|upper}}</div>
      <div class="player player-two">{{game.player_2.user_login|capitalize}}</div>
    </div>

    <div class="block-round">
      {% for element in round %}
      {% if element.category.category_label != undefined %}
        <div class="categorie">{{element.category.category_label}}</div>
      {% endif %}
      <div class="block-answer">
        <div class="answer">
          <div class="answer-box answer-one {% if element.round_q1_p1 == 7 %}true{% elseif element.round_q1_p1 == 8 %}false{% else %}none{% endif %}"></div>
          <div class="answer-box answer-two {% if element.round_q2_p1 == 7 %}true{% elseif element.round_q2_p1 == 8 %}false{% else %}none{% endif %}"></div>
          <div class="answer-box answer-three {% if element.round_q3_p1 == 7 %}true{% elseif element.round_q3_p1 == 8 %}false{% else %}none{% endif %}"></div>
        </div>
        <div class="answer">
          <div class="answer-box answer-one {% if element.round_q1_p2 == 7 %}true{% elseif element.round_q1_p2 == 8 %}false{% else %}none{% endif %}"></div>
          <div class="answer-box answer-two {% if element.round_q2_p2 == 7 %}true{% elseif element.round_q2_p2 == 8 %}false{% else %}none{% endif %}"></div>
          <div class="answer-box answer-three {% if element.round_q3_p2 == 7 %}true{% elseif element.round_q3_p2 == 8 %}false{% else %}none{% endif %}"></div>
        </div>
      </div>
      {% endfor %}
      {% if round[5].round_q3_p1 == undefined or round[5].round_q3_p2 == undefined %}
        <div class="block-play">
          {% if ((player == id) and (round[(round|length)-1].round_category is not defined)) or ((player == id) and (round[(round|length)-1].round_q3_p1 is not null) and (round[(round|length)-1].round_q3_p2 is not null)) %}
            <a href="/parties/partie/{{game.game_id}}/category" class="play">Jouer</a>
          {% elseif player == id %}
            <a href="/parties/partie/{{game.game_id}}/game/round/{{round[(round|length)-1].round_id}}" class="play">Jouer</a>
          {% else %}
            <div class="wait">En attente du joueur adverse</div>
          {% endif %}
        </div>
      {% else %}
        <div class="block-play">
          <div class="play">Partie terminée</div>
        </div>
      {% endif %}
    </div>
    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src="/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>
{% endblock %}
