{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="/stylesheet/profile.css">
  <link rel="stylesheet" href="/stylesheet/friend.css">
  <style>
    .block-main .block-header {
      background-image: url('../image/banner/{{login}}_banner.jpg');
    }
    .block-main .block-header .profile-picture {
      background-image: url('../image/profile/{{login}}_profile.jpg');
    }
  </style>
{% endblock %}

{% block body %}
  <div class="block-main" id="blockMain">

    <div class="block-header">
      <div class="container-i left px-4" onclick="displayFriend()"><i class="fa fa-caret-left fa-2x" id="leftArrow" aria-hidden="true"></i></div>
      <div class="profile-picture"></div>
    </div>

    <div class="block-body">
      <div class="block-menu">
        <a style="color:white;position:absolute" href="/accueil">Retour</a>
        <div class="modify-profile"><a href="/profile/modify"><i class="fas fa-cog fa-2x"></i></a></div>
      </div>

      <div class="wrapper-main">
        <div class="block-pseudo">
          <h2>{{login|capitalize}}<span class="badge badge-primary">{{rangTab[0]}}</span> </h2>
        </div>
        <div class="wrapper-info">
          <div class="block-info1">
            <div class="block-countryRank">
              <h3>Country rank : {{rangTab[1]}}</h3>
            </div>
            <div class="block-win">
              <h3>Right answers : {{winLose[0]}}</h3>
            </div>
            <div class="block-lose">
              <h3>Wrong answers : {{winLose[1]}}</h3>
            </div>
            <div class="block-noanswer">
              <h3>Not answered : {{winLose[2]}}</h3>
            </div>
          </div>

          <div class="block-info2">
            <div class="block-pourcent">
              <h3>winrate : {{winRate}}</h3>
            </div>
            <div class="block-wins">
              <h3>Wins : {{nbWins[0]}}</h3>
            </div>
            <div class="block-loses">
              <h3>Loses : {{nbWins[1]}}</h3>
            </div>
            <div class="block-nulls">
              <h3>Nulls : {{nbWins[2]}}</h3>
            </div>
        </div>
        </div>
      </div>

    </div>


    {% include 'friend.twig' %}

  </div>
{% endblock %}

{% block script%}
  <script src="/vendors/list/list.min.js" charset="utf-8"></script>
  <script src= "/javascript/friend.js"></script>
{% endblock %}
